body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 206, 252, 0.545);
    align-items: center;
    box-sizing: border-box;
}
.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    margin-left: 550px;
    margin-top: 100px;
}
.tictaktoe{
    display: flex;
    align-content: center;
    align-items:center;
    margin-left: 600px;
    margin-top: 40px;
}
.box1{
    height: 100px;
    width: 100px;
    background-color:  rgb(140, 144, 144);
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 12px;
}
.box2{
    height: 100px;
    width: 100px;
    background-color:  rgb(140, 144, 144);
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 12px;
}
.box3{
    height: 100px;
    width: 100px;
    background-color:  rgb(140, 144, 144);
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 12px;
}
.box4{
    height: 100px;
    width: 100px;
    background-color:  rgb(140, 144, 144);
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 12px;
}
.box5{
    height: 100px;
    width: 100px;
    background-color:  rgb(140, 144, 144);
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 12px;
}
.box6{
    height: 100px;
    width: 100px;
    background-color:  rgb(140, 144, 144);
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 12px;
}
.box7{
    height: 100px;
    width: 100px;
    background-color:  rgb(140, 144, 144);
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 12px;
}
.box8{
    height: 100px;
    width: 100px;
    background-color:  rgb(140, 144, 144);
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 12px;
}
.box9{
    height: 100px;
    width: 100px;
    background-color:  rgb(140, 144, 144);
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 12px;
}
#box1{
    border-bottom: 20px;
    padding: 6px;
}
#box2{
    border-bottom: 20px;
    padding: 6px;
}
#box3{
    border-bottom: 20px;
    padding: 6px;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: white;
    margin-top: 50px;
    margin-left: 650px;
    font-style: unset;
}
h1{
    -webkit-text-stroke: 5px white;
}
